.header img {
	height: 50px;
}

.header {
	text-align: center;
}

.header nav {
	background-color: lightcoral;
	line-height: 45px;
	font-size: 20px;
}

nav a {
	text-decoration: none;
	color: #002333;
	margin-right: 20px;
	padding: 10px;
}
nav a:hover {
	background-color: burlywood;
	color: ghostwhite;
}
