.product {
	display: flex;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid lightsalmon;
}

.itemsPhoto img {
	height: 150px;
}

.productItem {
	margin-left: 20px;
}

.productName {
	color: #002333;
	font-weight: 400;
}
